@use './variables' as *;
@use './mixins' as *;
@use "sass:color";

.button {
    display: inline-block;
    padding: 10px;

    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-style: italic;

    border-radius: 20px;

    @include button-coloring($primary-color, color.adjust($primary-color, $blackness: 20%), color.adjust($primary-color, $blackness: 60%), $primary-contrast-color);
}