@use "sass:list";
@use "sass:math";
@use "sass:string";
@use "sass:color";
@use './variables' as *;

@mixin gradient-bg($colors...) {
    $step: 0%;
    $last-step: 0%;

    @if (list.length($colors) <=1) {
        $step: 100%;
        $last-step: $step;
    }

    @else {
        $step: math.div(100%, list.length($colors) - 1);
    }

    $gradient: "0deg";

    @for $i from 1 through list.length($colors) {
        $gradient: $gradient + ", " + list.nth($colors, $i) + " " + $last-step;
        $last-step: $last-step + $step;
    }

    background: list.nth($colors, list.length(colors));
    background: -webkit-linear-gradient(string.unquote($gradient));
    background: -moz-linear-gradient(string.unquote($gradient));
    background: linear-gradient(string.unquote($gradient));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#{color.ie-hex-str(list.nth($colors, 1))}, endColorstr=#{color.ie-hex-str(list.nth($colors, list.length($colors)))}, GradientType=0)
}

@mixin glossy-gradient-bg($main-color, $dark-color, $darkest-color) {
    background: $main-color;
    background: -webkit-linear-gradient(0deg, $main-color 0%, $darkest-color 50%, $main-color 51%, $dark-color 100%);
    background: -moz-linear-gradient(0deg, $main-color 0%, $darkest-color 50%, $main-color 51%, $dark-color 100%);
    background: linear-gradient(0deg, $main-color 0%, $darkest-color 50%, $main-color 51%, $dark-color 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#{color.ie-hex-str($main-color)}, endColorstr=#{color.ie-hex-str($dark-color)}, GradientType=0)
}

@mixin button-coloring($light-color, $darker-color, $darkest-color, $contrast-color) {
    border: 1px solid $darker-color;

    color: $contrast-color;

    @include glossy-gradient-bg($light-color, $darker-color, $darkest-color);

    &:hover {
        @include gradient-bg($light-color, $darkest-color);
        box-shadow: 0 0 10px color.adjust($contrast-color, $alpha: -0.7) inset;
    }
}

@mixin container-border {
    border: 1px solid color.adjust($primary-contrast-color, $alpha: -0.8);
}

@mixin gradient-text($colors...) {
    color: list.nth($colors, 1);
    @include gradient-bg($colors...);
    filter: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}