$text-color: #000;
$background-color: white;
$site-background-color: snow;

$accent-color: skyblue;
$accent-contrast-color: snow;

$primary-color: snow;
$primary-contrast-color: $text-color;

$container-padding: 2rem;