@use './variables' as *;
@use './reset';

html,
body {
    height: 100%;
    width: 100vw;
    min-width: 1900px;

    background: $site-background-color;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    justify-content: center;
    color: $text-color;
}

h1 {
    margin-bottom: 2rem;
    text-align: center;
}

h2 {
    margin-bottom: 2rem;
    text-align: center;
}

p:not(:last-child) {
    margin-bottom: 1rem;
}