@use './variables' as *;
@use './reset';

html,
body {
    width: 100vw;
    height: 100vh;
    min-width: 1280px;

    background: $background-color;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    justify-content: center;
    color: $text-color;
}