@use "sass:color";
@use './variables' as *;
@use "./mixins" as *;

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    padding: 1rem;
    padding-left: $container-padding;
    padding-right: $container-padding;

    background-color: $background-color;
    font-weight: bolder;

    @include container-border;
    border-top: 0;

    div,
    span {
        @include gradient-text(color.adjust($accent-color, $lightness: -30%, $saturation: -10%), $accent-color);
    }
}

.catchphrase {
    font-size: 1.15rem;
}