@use "sass:color";
@use './variables' as *;
@use "./mixins" as *;

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    padding: 1rem;
    padding-left: $container-padding;
    padding-right: $container-padding;

    @include gradient-bg(color.adjust($accent-color, $saturation: 20%, $lightness: -40%), $accent-color);
    color: $accent-contrast-color;
}

.catchphrase {
    font-size: 1.1rem;
}