@use "sass:color";
@use './variables' as *;

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    padding: 1rem;
    padding-left: $container-padding;
    padding-right: $container-padding;

    background: #ffae00;
    background: -webkit-linear-gradient(0deg, rgba(255, 174, 0, 1) 0%, rgba(255, 222, 173, 1) 100%);
    background: -moz-linear-gradient(0deg, rgba(255, 174, 0, 1) 0%, rgba(255, 222, 173, 1) 100%);
    background: linear-gradient(0deg, rgba(255, 174, 0, 1) 0%, rgba(255, 222, 173, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFAE00",
            endColorstr="#FFDEAD",
            GradientType=0);
}

.catchphrase {
    color: color.adjust($text-color, $alpha: 0.1);
}