@use './variables' as *;
@use "sass:color";

.container {
    width: 80%;
    background: snow;

    display: flex;
    flex-direction: column;
    justify-content: stretch;

    .lower-container {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: stretch;

        border: 1px solid color.adjust($primary-contrast-color, $alpha: -0.8);
        border-bottom: none;
    }

    main {
        flex-grow: 1;
    }
}