<div id="chatovod280502"></div>
<script is:inline type="text/javascript">
    (function () {
        var po = document.createElement("script");
        po.type = "text/javascript";
        // po.charset = "UTF-8";
        po.async = true;
        po.src =
            ("https:" == document.location.protocol ? "https:" : "http:") +
            "//oldrunet.chatovod.ru/widget.js?height=450&divId=chatovod280502";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(po, s);
    })();
</script>
