---
import classes from "../styles/navigation.module.scss";
---

<nav class={classes["navigation"]}>
    <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="/games/">Игротека</a></li>
        <li><a href="/videos/">Кинозал</a></li>
        <li><a href="/gallery/">Галерея</a></li>
        <li><a href="/pages/">Интернет</a></li>
        <li><a href="/chatroom/">Чат</a></li>
        <li><a href="/forum/">Форум</a></li>
    </ul>
</nav>
