---
import { links } from "../const/consts";
import classes from "../styles/randomPageButton.module.scss";
---

<!-- TODO: Random page helper -->
<a href={links.forum} class={classes["button"]}>Случайная страница!</a>
