---
import '../styles/global.scss'
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/smile.gif" />
		<title>OldRuNet</title>
	</head>
	<body>
		хихихи
		<slot />
	</body>
</html>
