---
import "../styles/global.scss";
import classes from "../styles/layout.module.scss";
import Header from "../components/Header.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/smile.gif" />
		<title>OldRuNet</title>
	</head>
	<body>
		<div class={classes["container"]}>
			<Nav />
			<Header />
			<div class={classes["lower-container"]}>
				<main>
					<slot />
				</main>
				<Footer />
			</div>
		</div>
	</body>
</html>
