---
import "../styles/global.scss";
import Header from "../components/Header.astro";
import Nav from "../components/Nav.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/smile.gif" />
		<title>OldRuNet</title>
	</head>
	<body>
		<div class="container">
			<Nav />
			<Header />
			<slot />
		</div>
	</body>
</html>
